.section-title {
  color: #1B234C;
}

.navbar-brand {
  img {
    height: 65px;
  }
}
.navbar {
  font-family: 'Montserrat', sans-serif;
  .navbar-nav {
    margin: 0 auto;
    .nav-item {
      &.current-menu-item {
        background: #1B234C;
        a {
          color: white;
          font-weight: bold;
        }
      }
      a {
        font-size: 26px;
        color: #1B234C;
      }
        &:hover {
          a {
            font-weight: bold;
          }
        }
    }
  }
  .btn {
      font-size: 14px;
      padding: 10px;
      border-radius: 0.8rem;
  }
}

.carousel-section {
  font-family: 'Montserrat', sans-serif;
  .carousel {
    .carousel-indicators {
      li {
        width: 60px;
        height: 5px;
      }
    }
    .carousel-item {
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
      }
      .carousel-caption {
        bottom: 20%;
        .carousel-subtitle {
          width: 80%;
          margin: 0 auto;
        }
        .carousel-button {
          font-size: 32px;
          padding: 8px 30px;
          opacity: 0.8;
          margin-top: 18%;
        }
      }
    }
    .carousel-control-prev-icon {
      width: 120px;
      height: 150px;
      background-image: url('../imgs/carousel/left-arrow.png');
    }
    .carousel-control-next-icon {
      width: 120px;
      height: 150px;
      background-image: url('../imgs/carousel/right-arrow.png');
    }
  }
}

.courses_section {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  min-height: 100vh;
  .card-corso {
    border: 0;
    transition-duration: 0.4s;
    &:hover {
      box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5), 0 10px 24px 0 rgba(0,0,0,0.49);
    }
    .card-img-overlay {
      color: white;
      &.meccanica {
        background-color: rgba(0, 113, 175, 0.56); 
      }
      &.termoidraulica {
        background-color: rgba(234, 136, 97, 0.56);
      }
      &.sociosanitario {
        background-color: rgba(34, 168, 115, 0.56);
      }
      &.acconciatura {
        background-color: rgba(102, 45, 132, 0.56);
      }
      .card-title {
        margin: 10% auto;
        &.title-termoidraulica { 
          transform: rotate(-30deg);
        }
        &.title-acconciatura { 
          transform: rotate(30deg);
        }
      }
      .card-text {
        font-size: 42px;
        text-transform: uppercase;
      }
    }
  }
}

.trova-corso-section {
  font-family: 'Montserrat', sans-serif;
  color: white;
  min-height: 100%;
  min-height: 100vh;
    .form-container {
      padding: 10% 0 10% 0;
      .form-group {
        .form-control {
          height: 45px;
          border-radius: 0.8rem;
          font-size: 22px; 
          text-transform: uppercase;
          color: #1B234C;
        }
        label {
          font-size: 26px;
        }
      }
    button {
      width: 100%;
      border-radius: 0.8rem;
      color: #1B234C;
      font-size: 22px;
    }
  }
}

.section-news {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  min-height: 100vh;
  .card {
    .card-img-top {
      height: 360px;
    }
    .overlay-card-img-top {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 360px;
      width: 100%;
      opacity: 0;
      transition: .4s ease;
      background-color: black;
      .data-news {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 10%;
        left: 20%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    .card-body {
      .card-title {
        font-size: 22px;
        font-weight: bold;
      }
      .card-text {
        font-size: 18px;
        margin-bottom: 150px;
      }
      .scopri-di-piu {
        transition-duration: 0.4s;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #19919F;
        height: 15px;
        display: table-cell;
        p {
          visibility: hidden;
          color: white;
          font-size: 14px;
          padding-top: 15px;
          text-align: center;
        }
      }
    }
    &:hover {
      .overlay-card-img-top {
        opacity: 0.5;
      }
      .scopri-di-piu {
        transition-duration: 0.4s;
        height: 45px;
        p {
          visibility: visible;
          animation: fadein 0.8s;
        }
      }
    }
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
