.custom {
  background: silver;
}

.navbar-brand {
  img {
    height: 65px;
  }
}

.navbar-nav {
  margin: 0 auto;
  .nav-item {
    &.current-menu-item {
      background: #1B234C;
      a {
        color: white;
        font-weight: bold;
      }
    }
    a {
      font-size: 26pt;
      color: #1B234C;
    }
      &:hover {
        a {
          font-weight: bold;
        }
      }
  }
}

.carousel-item {
  height: 400px;
  background-color: black;
}