.custom {
  background: silver;
}

.navbar-brand {
  img {
    height: 65px;
  }
}

.navbar-nav {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  .nav-item {
    &.current-menu-item {
      background: #1B234C;
      a {
        color: white;
        font-weight: bold;
      }
    }
    a {
      font-size: 26pt;
      color: #1B234C;
    }
      &:hover {
        a {
          font-weight: bold;
        }
      }
  }
}


.carousel {
  .carousel-indicators {
    li {
      width: 60px;
      height: 5px;
    }
  }
  .carousel-item {
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
    .carousel-caption {
      bottom: 20%;
      .carousel-subtitle {
        width: 80%;
        margin: 0 auto;
      }
      .carousel-button {
        font-size: 32px;
        padding: 8px 30px;
        opacity: 0.8;
        margin-top: 18%;
      }
    }
  }
  .carousel-control-prev-icon {
    width: 120px;
    height: 150px;
    background-image: url('../imgs/carousel/left-arrow.png');
  }
  .carousel-control-next-icon {
    width: 120px;
    height: 150px;
    background-image: url('../imgs/carousel/right-arrow.png');
  }
}

.card {
  // width: 420px;
  // height: 295px;
  // margin: 0 auto;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5), 0 10px 24px 0 rgba(0,0,0,0.49);
  }
}

.card-img-overlay {
  background-color: green;
  opacity: 0.56;
}

