.custom {
  background: silver;
}

.navbar-brand {
  img {
    height: 65px;
  }
}
.navbar {
  font-family: 'Montserrat', sans-serif;
  .navbar-nav {
    margin: 0 auto;
    .nav-item {
      &.current-menu-item {
        background: #1B234C;
        a {
          color: white;
          font-weight: bold;
        }
      }
      a {
        font-size: 26px;
        color: #1B234C;
      }
        &:hover {
          a {
            font-weight: bold;
          }
        }
    }
  }
  .btn {
      font-size: 14px;
      padding: 10px;
      border-radius: 0.8rem;
  }
}

.carousel-section {
  font-family: 'Montserrat', sans-serif;
  .carousel {
    .carousel-indicators {
      li {
        width: 60px;
        height: 5px;
      }
    }
    .carousel-item {
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
      }
      .carousel-caption {
        bottom: 20%;
        .carousel-subtitle {
          width: 80%;
          margin: 0 auto;
        }
        .carousel-button {
          font-size: 32px;
          padding: 8px 30px;
          opacity: 0.8;
          margin-top: 18%;
        }
      }
    }
    .carousel-control-prev-icon {
      width: 120px;
      height: 150px;
      background-image: url('../imgs/carousel/left-arrow.png');
    }
    .carousel-control-next-icon {
      width: 120px;
      height: 150px;
      background-image: url('../imgs/carousel/right-arrow.png');
    }
  }
}

.courses_section {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  min-height: 100vh;
  .card-corso {
    border: 0;
    transition-duration: 0.4s;
    &:hover {
      box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5), 0 10px 24px 0 rgba(0,0,0,0.49);
    }
    .card-img-overlay {
      color: white;
      &.meccanica {
        background-color: rgba(0, 113, 175, 0.56); 
      }
      &.termoidraulica {
        background-color: rgba(234, 136, 97, 0.56);
      }
      &.sociosanitario {
        background-color: rgba(34, 168, 115, 0.56);
      }
      &.acconciatura {
        background-color: rgba(102, 45, 132, 0.56);
      }
      .card-title {
        margin: 10% auto;
        &.title-termoidraulica { 
          transform: rotate(-30deg);
        }
        &.title-acconciatura { 
          transform: rotate(30deg);
        }
      }
      .card-text {
        font-size: 42px;
        text-transform: uppercase;
      }
    }
  }
}

.trova-corso-section {
  font-family: 'Montserrat', sans-serif;
  color: white;
  min-height: 100%;
  min-height: 100vh;
  .form-container {
    transform: translateY(30%);
  .form-group {
    .form-control {
      height: 45px;
      border-radius: 0.8rem;
      font-size: 22px; 
      text-transform: uppercase;
      color: #1B234C;
    }
    label {
      font-size: 26px;
    }
  }
  button {
    width: 100%;
    border-radius: 0.8rem;
    color: #1B234C;
    font-size: 22px;
  }
}
}

.card {
  // width: 420px;
  // height: 295px;
  // margin: 0 auto;
  transition-duration: 0.4s;
  &:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5), 0 10px 24px 0 rgba(0,0,0,0.49);
  }
}

.card-img-overlay {
  background-color: green;
  opacity: 0.56;
}

.News{
  text-align: center;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}
.eventi-in-arrivo{
  text-align: left;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-left: 10px;
}
.card-body{
    #text{
      font-family: 'Avenir Roman', sans-serif;
    }
      #title{
        font-weight: bold;
        font-size: 22pt;
      }
      #description{
        font-size: 19pt;
        font-family: 'Montserrat Bold';
      }

}
.row{
  margin-top: 40px;
}
.color{
  background-color: red;
}


