*:before, *:after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  section {
    margin-top: 60px;
  }
}

.section-title {
  color: #1B234C;
}


/*
<------------HOMEPAGE STYLE------------>
*/

.navbar-brand {
  img {
    height: 65px;
  }
}
.navbar {
  .navbar-nav {
    margin: 0 auto;
    .nav-item {
      &.current-menu-item {
        background: #1B234C;
        a {
          color: white;
          font-weight: bold;
        }
      }
      a {
        font-size: 26px;
        color: #1B234C;
      }
        &:hover {
          a {
            font-weight: bold;
          }
        }
    }
  }
  .btn {
      font-size: 14px;
      padding: 10px;
      border-radius: 0.8rem;
      background: #19919F;
      color: white;
  }
}

.carousel-section {
  .carousel {
    .carousel-indicators {
      li {
        width: 60px;
        height: 5px;
      }
    }
    .carousel-item {
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
      }
      .carousel-caption {
        bottom: 20%;
        .carousel-subtitle {
          width: 80%;
          margin: 0 auto;
        }
        .carousel-button {
          font-size: 32px;
          padding: 8px 30px;
          opacity: 0.8;
          margin-top: 18%;
          border-radius: 0.8rem;
        }
      }
    }
    .carousel-control-prev-icon {
      width: 120px;
      height: 150px;
      background-image: url('../imgs/carousel/left-arrow.png');
    }
    .carousel-control-next-icon {
      width: 120px;
      height: 150px;
      background-image: url('../imgs/carousel/right-arrow.png');
    }
  }
}

.courses_section {
  min-height: 100%;
  min-height: 100vh;
  .card-corso {
    border: 0;
    transition-duration: 0.4s;
    &:hover {
      box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5), 0 10px 24px 0 rgba(0,0,0,0.49);
    }
    .card-img-overlay {
      color: white;
      &.meccanica {
        background-color: rgba(0, 113, 175, 0.56); 
      }
      &.termoidraulica {
        background-color: rgba(234, 136, 97, 0.56);
      }
      &.sociosanitario {
        background-color: rgba(34, 168, 115, 0.56);
      }
      &.acconciatura {
        background-color: rgba(102, 45, 132, 0.56);
      }
      .card-title {
        margin: 10% auto;
        &.title-termoidraulica { 
          transform: rotate(-30deg);
        }
        &.title-acconciatura { 
          transform: rotate(30deg);
        }
      }
      .card-text {
        font-size: 42px;
        text-transform: uppercase;
      }
    }
  }
}

.trova-corso-section {
  color: white;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 -15px;
    .form-container {
      padding: 10% 0 10% 0;
      .form-group {
        .form-control {
          height: 45px;
          border-radius: 0.8rem;
          font-size: 22px; 
          text-transform: uppercase;
          color: #1B234C;
        }
        label {
          font-size: 26px;
        }
      }
    button {
      width: 100%;
      border-radius: 0.8rem;
      color: #1B234C;
      font-size: 22px;
    }
  }
}

.section-news {
  min-height: 100%;
  min-height: 100vh;
  .card {
    .card-img-top {
      height: 360px;
    }
    .overlay-card-img-top {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 360px;
      width: 100%;
      opacity: 0;
      transition: .4s ease;
      background-color: black;
      .data-news {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 10%;
        left: 20%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    .card-body {
      .card-title {
        font-size: 22px;
        font-weight: bold;
      }
      .card-text {
        font-size: 18px;
        margin-bottom: 50px;
      }
      .scopri-di-piu {
        transition-duration: 0.4s;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #19919F;
        height: 15px;
        line-height: 45px;
        p {
          visibility: hidden;
          color: white;
          font-size: 16px;
          text-align: center;
        }
      }
    }
    &:hover {
        .overlay-card-img-top {
          opacity: 0.5;
        }
        .scopri-di-piu {
          transition-duration: 0.4s;
          height: 45px;
          p {
            visibility: visible;
            animation: fadein 0.8s;
          }
        }
    }
  }
}

.section-filos-in-breve {
  min-height: 80%;
  min-height: 80vh;
  .body {
    img {
      width: 100%;
    }
    .button {
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 42.5%;
    }
  }
  .btn {
    color: white;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #19919F;
    padding: 5px 60px;
  }
}

.sedi-section {
  height: 75%;
  height: 75vh;
  .card-row {
    height: 55vh;
    .card-col {
      display: flex;
      align-items: center;
      .card {
        border: 0;
        transition-duration: 0.4s;
        width: 100%;
        height: 90%;
        .card-img-top {
          width: 100%;
          height: 100%;
        }
        .sede {
          background-color: rgba(27, 35, 76, 0.8);    
          height: 80px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          line-height: 80px;
          p {
            color: white;
            font-size: 32px;
            text-align: center;
            text-transform: uppercase;
          }
        }
        &:hover {
          box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5), 0 10px 24px 0 rgba(0,0,0,0.49);
        }
      }
    }
  }
}

.testimonianze-section {
  .card {
    background-color: silver;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.5), 0 10px 24px 0 rgba(0,0,0,0.49);
    margin-bottom: 30px;
    .testimonial-image {
      height: 320px;
      padding: 30px;
    }
    .body {
      height: 100%;
      .title {
        font-size: 32px;
        font-weight: bold;
        padding-top: 10px;
      }
      .blockquote {
        padding: 40px 30px 20px 0;
        .open-quote {
          position: absolute;
          left: 0;
          top: 50px;
          transform: rotate(+30deg);
        }
        .blockquote-footer {
          padding-top: 10px;
        }
        .close-quote {
          margin-left: 100%;
          transform: rotate(-120deg);
        }
      }
    }
  }
  .carousel-control-prev-icon {
    width: 64px;
    height: 76px;
    background-image: url('../imgs/left-arrow.png');
    margin-right: 60px;
  }
  .carousel-control-next-icon {
    width: 64px;
    height: 76px;
    background-image: url('../imgs/right-arrow.png');
    margin-left: 60px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/*
<------------HOMEPAGE STYLE------------>
*/


/*
<------------SINGLE-CORSO STYLE------------>
*/

.jumbotron {
  height: 550px;
  position: relative;
  .tipo-corso {
    background-color: rgba(27, 35, 76, 0.8);    
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    text-align: center;
    p {
      font-size: 36px;
      color: white;
      text-transform: uppercase;
    }
  }
}

.post-corso {
  .informazioni-generali {
    .body {
      .title {
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 500;
      }
      .text {
        line-height: 1.6;
      }
    }
  }
  .informazioni-utili {
    .aside-title {
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 500;
    }
    .icon {
      text-align: end;
      img {
        height: 45px; 
      }
    }
    .text {
      p {
        line-height: 1.6;
        span {
          font-weight: 500;
        }
      }
    }
    .btn {
      color: white;
      background-color: #1B234C;
    }
  }
}

.corsi-simili {
  p {
    color: #1B234C
  }
  hr {
    border-color: #1B234C;
  }
}

/*
<------------SINGLE-CORSO STYLE------------>
*/

/*
<------------FOOTER STYLE------------>
*/

.footer {
  height: 100%;
  margin-top: 60px;
  .jumbotron {
    height: 400px;
    position: relative;
    margin-bottom: 0;
  }
  .sfondo-logo {    
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 30%;
    height: 100%;
    img  {
      width: 95%;
      height: 100%;
    }
  }
}

/*
<------------FOOTER STYLE------------>
*/

/*
<------------CORSI STYLE------------>
*/

.corsi-section {
  .card {
    .card-img-top {
      height: 360px;
    }
    .overlay-card-img-top {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 360px;
      width: 100%;
      opacity: 0;
      transition: .4s ease;
      background-color: black;
      .data-news {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 10%;
        left: 20%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    .card-body {
      .card-title {
        font-size: 22px;
        font-weight: bold;
      }
      .card-text {
        font-size: 18px;
      }
      .course-detail {
        img {
          width: 60%;
        }
        span {
          font-weight: 500;
        }
      }
      .scopri-di-piu {
        transition-duration: 0.4s;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #19919F;
        height: 15px;
        line-height: 45px;
        p {
          visibility: hidden;
          color: white;
          font-size: 16px;
          text-align: center;
        }
      }
    }
    &:hover {
        .overlay-card-img-top {
          opacity: 0.5;
        }
        .scopri-di-piu {
          transition-duration: 0.4s;
          height: 45px;
          p {
            visibility: visible;
            animation: fadein 0.8s;
          }
        }
    }
  }
}

/*
<------------CORSI STYLE------------>
*/

/*
<------------NEWS STYLE------------>
*/

.news-page {
  p {
    color: #1B234C
  }
  hr {
    border-color: #1B234C;
  }
  .card {
    .card-img-top {
      height: 360px;
    }
    .overlay-card-img-top {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 360px;
      width: 100%;
      opacity: 0;
      transition: .4s ease;
      background-color: black;
      .data-news {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 10%;
        left: 20%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    .card-body {
      .card-title {
        font-size: 22px;
        font-weight: bold;
      }
      .card-text {
        font-size: 18px;
        margin-bottom: 50px;
      }
      .scopri-di-piu {
        transition-duration: 0.4s;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #19919F;
        height: 15px;
        line-height: 45px;
        p {
          visibility: hidden;
          color: white;
          font-size: 16px;
          text-align: center;
        }
      }
    }
    &:hover {
        .overlay-card-img-top {
          opacity: 0.5;
        }
        .scopri-di-piu {
          transition-duration: 0.4s;
          height: 45px;
          p {
            visibility: visible;
            animation: fadein 0.8s;
          }
        }
    }
  }
}

/*
<------------NEWS STYLE------------>
*/